<div>
    
    <h2>Edit person:</h2>

    <form action="/people/<%= @person.id %>" method='post'>
      <input type="hidden" name="_method" value="put">  
      <input type="text" name='name' value='<%= @person.name %>'>
      <input type="text" name='gender' value='<%= @person.gender %>'>
      <input type="text" name='date_of_birth' value='<%= @person.date_of_birth %>'>
      <input type="text" name='image_url' value='<%= @person.image_url %>'>
      
      <select name="country_id">          
        <% @countries.each do |country| %>
          <option value="<%= country.id %>" <%= "selected" if @person.country.id == country.id %>><%= country.name %></option>
        <% end %> 
      </select> 
      
      <select name="group_id">
        <% @groups.each do |group| %>
          <option value="<%= group.id %>" <%= "selected" if @person.group.id == group.id %>><%= group.name %></option>
        <% end %>
      </select> 
    
      <input type="submit">
    </form>

</div>
